* {
   margin: 0;
   padding: 0;
}

h1 {
   font-family: 'Patua One', cursive;
   font-size: 72px;
   text-align: center;
   margin-top: 28px;
}

body {
   font-family: 'IBM Plex Sans', sans-serif;
}
img {
   color: #900;
   width: 300px;
}
